.products-filters {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color:rgb(162,253,202,0.5);
  margin-top: 3%;
  padding-bottom: 1rem;
  margin-left: 8%;
  margin-right: 8%;
  padding-left: 0;
  border-radius: 30px;
}

.custom-select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 20rem;
  height: 80px;
  padding: 15px;
  font-size: 1.3rem;
  color: rgb(41, 46, 68);
  background-color: transparent;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.date-select {
  display: flex;
  flex-direction: column;
}

/* 
 * card-layout. css 
 */
 .card-row {
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    margin: 5%;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 30rem;
    width: 20rem;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    color: rgb(41, 46, 68);
    font-family: 'Itim';
    background-color: white;
  }

  .card > img:first-child {
    border-radius: 7px 7px 0 0;
    height: 16rem;
  }

  .card-body {
    flex-grow: 1;
    padding: 20px 20px 0 20px;
  }

  .card-body > h3 {
    font-size: 1.7rem;
  }

  .card-body > h4 {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .card-foot {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    align-items: center;
  }
  
  .card h3, .card h4{
    margin: 0 0 4px 0;
  }

  .product-details {
    text-decoration: none;
    color: rgb(41, 46, 68);
    cursor: pointer;
  }

  .card-foot > p {
    margin: 0;
    font-size: 1.3rem;
  }
  
  .button {
    /* Reset text link default */
    text-decoration: none;
    color: rgb(41, 46, 68);;
    background-color: #A2FDCA;
    padding: 0.5em 1em;
    border-radius: 4px;
    display: inline-block;
    box-shadow: none;
    font-size: 1rem;
    cursor: pointer;
  }