.reservaions {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.column-left {
  width: 75%;
}
.column-right {
  width: 25%;
  display: block;
  text-align: center;
  padding-right: 5%;
}

.resumeCommande {
  border-radius: 15px;
  border-style: solid;
  border-color: #343a55;
  padding: 2rem 0;
  background-color: #eff0ed;
}

.resumeCommande button {
  padding: 10px;
  background-color: #aef3da;
  color: #343a55;
  border-style: none;
  border-radius: 15px;
  font-weight: bold;
}

.payement {
  width: 100%;
  margin: 20px 0;
}

.payement > img {
  width: 100%;
}

.btn-caisse:hover {
  background-color: #343a55;
  color: #aef3da;
  cursor: pointer;
}
.vide-container,
.proposition-container {
  width: 100%;
  margin: auto;
}

.texte-proposition > p {
  text-align: center;
  margin-top: 2rem;
  color: #343a55;
  font-weight: bold;
}

.vide {
  border-radius: 15px;
  border-style: solid;
  border-color: #343a55;
  background-color: #eff0ed;
  width: 50%;
  margin: auto;
  padding: 2rem 2rem;
  text-align: center;
  color: #343a55;
  font-weight: bold;
}
.proposition {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* border-top: #343a55 solid;
  border-bottom: #343a55 solid; */
}
/* .proposition:hover {
  border-top: #343a55 none;
  border-bottom: #343a55 none;
} */
