.containerBandeau p {
  font-family: "Itim";
  text-align: center;
  font-size: 50px;
}

.containerBandeau {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  
} 

