.BasketCard {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border-color: #343a55;
  border-style: solid;
  padding: 35px 15px;
  background-color: #eff0ed;
}

.BasketCard img {
  width: 150px;
  height: 80px;
  vertical-align: middle;
}

.taille,
.duree,
.prix,
.quantite,
.check,
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantite {
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}

.quantite > div {
  width: 50px;
  height: 50px;
  text-align: center;
}
input {
  width: 25px;
  height: 25px;
}

.btn-quantity {
  border-radius: 8px;
  background-color: #ffffff;
  border-color: #343a55;
}

p {
  font-weight: bold;
  color: #343a55;
}
.svg-delete {
  width: 2em;
  height: 2em;
  color: #343a55;
}

.btn-quantity:hover {
  background-color: #343a55;
  color: #ffffff;
  cursor: pointer;
}

#topping:hover {
  cursor: pointer;
}

.svg-delete:hover {
  cursor: pointer;
}
