.notificationContainer{
    background-color: #0000002a;
    border: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.notificationContainer:disabled {
    background-color: #0000002a;
    color: #222;
}
.notificationContainerContain{
    background-color: #AEF3DA;
    border-radius: 8px;
    max-width: 400px ;
    padding: 3rem;
}
.notificationIcon{
    width: 5rem;
}
.notificationMessage{
    margin: 1.5rem 0;
}

.notificationFormSubmit {
    font-size: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    border: none;
  }
  
  .notificationFormSubmit:hover {
    color: #ffffff;
  
  }