@font-face {
  font-family: "Itim";
  src: local("Itim"),
   url("./assets/Itim-Regular.ttf") format("truetype");
  font-weight: bold;
  }
  html {
    height: 100%;
    box-sizing: border-box;
  }
  *,
*:before,
*:after {
  box-sizing: inherit;
}

  body {
  font-family: sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background: #EFF0ED;
  
}

h1, h2, h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

p {
  margin: 0 0 1.15em;
}
