.addressContainer {
  display: flex;
  font-family: Itim;
}
.addressFormContainer {
  margin-bottom: 3rem;
  width: 50vw;
}

.addressContainer p {
  color: #343A55;
  font-size: 0.9rem;
}

.addressFormTitle {
  font-size: 1.5rem !important;
  margin-top: 3rem;
  margin-left: -5rem;
}

.addressForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addressFormFieldContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1rem;
}

.addressFormField,
.addressFormFieldAddress {
  border-radius: 4px;
  border: none;
  padding: 1rem;
  width: 80%;
  background-color: #e2e2e2;
}

.addressFormField:focus,
.addressFormFieldAddress:focus {
  outline: 1px solid #343A55;
}
.addressFormFieldAddress {
  height: 5rem;
  resize: none;
}